.clock{
    position: relative;
    width: 200px;
    height: 200px;
}
.clock .rotate{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.clock .rotate .bg,
.clock .mask{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
}
.clock .rotate .bg{
    background: url(../images/bg_blue.png) no-repeat;
}
.clock .mask{
    background: url(../images/bg_orange.png) no-repeat;
}
.clock .rotate-left .bg,
.clock .mask-left{
    left: 0;
    background-position: top left;
}
.clock .rotate-right .bg,
.clock .mask-right{
    left: 50%;
    background-position: right top;
}
.clock .mask-left{

}
.clock .mask-right{
    z-index: 11;
}
.clock .rotate-left{
    z-index: 10;
}
.clock .rotate-right{
    z-index: 12;
}
.clock .seconds{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}


